@import url("./prism.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #e0e0e0;
  z-index: -1;
  position: relative;
}
a {
  color: black;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

.app-container {
  margin-top: 60px;
  margin-left: 300px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  .time-stamp {
    font-size: 12px;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    box-sizing: border-box;
    margin-right: 50px;
  }
  article {
    margin: 50px;
  }
  p {
    text-indent: 2rem;
  }
  img {
    max-width: 100%;
  }
  @media screen and (min-width: 2000px) {
    margin-right: 500px;
  }
  @media screen and (min-width: 1000px) and (max-width: 1999px) {
    margin-right: 200px;
  }
  @media screen and(min-width: 750px) and (max-width: 999px) {
    margin-left: 150px;
    margin-right: 50px;
  }
  @media screen and(max-width: 749px) {
    margin-left: 0px;
  }
}
.post-container {
  margin: 40px;
  padding: 40px;
  border-radius: 20px;
  background-color: #f2f2f2;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
}
.main-container {
  flex: 1;
}
* {
  -webkit-tap-highlight-color: transparent;
}
.article-list {
  margin: 50px;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
  &-tab {
    font-style: italic;
    font-size: 20px;
    font-weight: bolder;
    display: flow-root;
    margin: 25px 0;
    &:hover {
      cursor: pointer;
      color: rgb(19, 135, 230);
    }
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

blockquote {
  background: rgb(253, 246, 227);
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
// blockquote:before {
//   color: #ccc;
//   content: open-quote;
//   font-size: 4em;
//   line-height: 0.1em;
//   margin-right: 0.25em;
//   vertical-align: -0.4em;
// }
blockquote p {
  display: inline;
}
// code:not(.language-jsx){
//   background-color: rgb(253, 246, 227);
// }
.work-relative {
  p {
    text-indent: 0;
  }
}
.personal-about {
  position: relative;
  margin-bottom: 80px;
  padding: 24px 0;
  background-color: #fff;
  // border: 10px solid;
  background-image: radial-gradient(
    transparent 0px,
    transparent 4px,
    #fff 4px,
    #fff
  );
  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    z-index: -1;
    background-image: radial-gradient(
      transparent 0px,
      transparent 4px,
      #fff 4px,
      #fff
    );
    background-size: 16px 16px;
    background-position: -8px -8px;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  }
  @media screen and (min-width: 750px) {
    left: 40px;
  }
  @media screen and (max-width: 749px) {
    padding: 0;
    left: 8px;
  }
}
